In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from imblearn.over_sampling import RandomOverSampler
from sklearn.preprocessing import StandardScaler

In [2]:
col=("age sex tb db alkphos sgpt sgot tp alb a/gratio selector").split()
df= pd.read_csv("ILDP.csv",names=col)
df.info()
print(df["sex"].value_counts())
df["sex"]=(df["sex"]!="Male").astype(int)
df["sex"].value_counts()
df=df.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       583 non-null    int64
 1   sex       583 non-null    object
 2   tb        583 non-null    float64
 3   db        583 non-null    float64
 4   alkphos   583 non-null    int64
 5   sgpt      583 non-null    int64
 6   sgot      583 non-null    int64
 7   tp        583 non-null    float64
 8   alb       583 non-null    float64
 9   a/gratio  579 non-null    float64
 10  selector  583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
Male      441
Female    142
Name: sex, dtype: int64

In [3]:
df.head()

   age  sex    tb   db  alkphos  sgpt  sgot   tp  alb  a/gratio  selector
0   65    1   0.7  0.1      187    16    18  6.8  3.3      0.90         1
1   62    0  10.9  5.5      699    64   100  7.5  3.2      0.74         1
2   62    0   7.3  4.1      490    60    68  7.0  3.3      0.89         1
3   58    0   1.0  0.4      182    14    20  6.8  3.4      1.00         1
4   72    0   3.9  2.0      195    27    59  7.3  2.4      0.40         1

In [4]:
df["selector"]=(df["selector"]==1).astype(int)

In [5]:
train,test = np.split(df.sample(frac=1), [int(0.85*len(df))])
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 492 entries, 294 to 319
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       492 non-null    int64
 1   sex       492 non-null    int32
 2   tb        492 non-null    float64
 3   db        492 non-null    float64
 4   alkphos   492 non-null    int64
 5   sgpt      492 non-null    int64
 6   sgot      492 non-null    int64
 7   tp        492 non-null    float64
 8   alb       492 non-null    float64
 9   a/gratio  492 non-null    float64
 10  selector  492 non-null    int32
dtypes: float64(5), int32(2), int64(4)
memory usage: 42.3 KB

<h2> KNN </h2>

In [6]:
def scale_dataset(dataframe, oversample=False):
  X = dataframe[dataframe.columns[:-1]].values
  y = dataframe[dataframe.columns[-1]].values

  scaler = StandardScaler()
  X = scaler.fit_transform(X)

  if oversample:
    ros = RandomOverSampler()
    X, y = ros.fit_resample(X, y)

  data = np.hstack((X, np.reshape(y, (-1, 1))))

  return data, X, y

In [7]:
train , x_train , y_train = scale_dataset(train,oversample=True)
test , x_test , y_test = scale_dataset(test,oversample=True)

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

In [9]:
knn_model = KNeighborsClassifier(n_neighbors = 13)

knn_model = knn_model.fit(x_train,y_train)

KNeighborsClassifier()

y_pred = knn_model.predict(x_test)

In [10]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.56      0.66      0.61        56
           1       0.59      0.48      0.53        56

    accuracy                           0.57       112
   macro avg       0.57      0.57      0.57       112
weighted avg       0.57      0.57      0.57       112

<h2>Naive Bayes</h2>

In [11]:
from sklearn.naive_bayes import GaussianNB

In [12]:
nb_model = GaussianNB()
nb_model = nb_model.fit(x_train,y_train)

In [13]:
y_pred = nb_model.predict(x_test)

In [14]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.62      0.95      0.75        56
           1       0.89      0.43      0.58        56

    accuracy                           0.69       112
   macro avg       0.76      0.69      0.67       112
weighted avg       0.76      0.69      0.67       112

<h2>Logistic Regression</h2>

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
lg_model = LogisticRegression()
lg_model = lg_model.fit(x_train,y_train)

In [17]:
y_pred = lg_model.predict(x_test)

In [18]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.71      0.89      0.79        56
           1       0.86      0.64      0.73        56

    accuracy                           0.77       112
   macro avg       0.79      0.77      0.76       112
weighted avg       0.79      0.77      0.76       112

<h2>SVM</h2>

In [19]:
from sklearn.svm import SVC

In [20]:
svm_model = SVC()
svm_model = svm_model.fit(x_train,y_train)

In [21]:
y_pred = svm_model.predict(x_test)

In [22]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.86      0.65      0.74        74
           1       0.54      0.79      0.64        38

    accuracy                           0.70       112
   macro avg       0.70      0.72      0.69       112
weighted avg       0.75      0.70      0.70       112